/* homeProject.css */

/* Add margin-bottom to the row with class mb-5 */
/* Style the welcome-text class */
.welcome-text {
    color: #2b8c7b; /* Blue text color */
}

/* Apply styles to the buttons */
.btn-blue {
    background-color: #2b8c7b;
    color: #fff;
    border: none;
}

.btn-transparent-blue {
    background-color: transparent;
    border: 2px solid #2b8c7b;
    color: #2b8c7b;
}

.btn-transparent-blue:hover {
    background-color: #2b8c7b;
    color: #fff;
}