.single-schedule {
    background-color: white;
    color: #1A76D1;
    border: 1px solid #1A76D1;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
}

.single-schedule:hover {
    transform: scale(1.1);
}
