/* chat.css */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.Logochat{
  width: 50%;
  margin-top:15%;
  opacity: 60%;
  margin-left: 23.5%;
  position: fixed;
  z-index: -1;
}
/* Styles pour le conteneur principal */
.chat-window {
  margin-top: 5px;
  width: 100%;
  height: 100% ;
  position: fixed;
  border: 1px solid #ccc;
  justify-content: right;
  display: flex;
  position:relative;
  flex-direction: column;
 
  bottom: 1.4%;

/*  background-color: #A6D7ED;
*/
background: linear-gradient(0deg, #a2bdd2 0%, #1d759a 100%);}

/* Styles pour l'en-tête */
.chat-header {
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  background-color: #0084ff;
  color: white;
  text-align: center;
  left: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  padding-top: -10px;
  width: 100%;
  height: 7%;
  top: 0px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

  border-radius: 0px 20px 0px 20px  ;

}

.header-container {
  display: flex;
  justify-content: center;
}

/* Styles pour la zone de chat */
.chat-body {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);

  

  width: 100%;
  
margin: 15px !important;  

}

/* Styles pour le conteneur des messages */
.message-container {
  display: flex;
height: 10%;
  max-width: 100%;
  margin-top: 2px;
  flex-direction: column;
  align-items: flex-end !important; /* Aligner les messages à gauche */
}

/* Styles pour un message individuel */
.message {
  
  width: 100%;
  height: 10%;
  margin-top: -7px;
  font-style: italic;
  color:#f3f3f3 !important;
  border-radius: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

/* Styles pour le contenu du message */
.message-content {
  border-radius: 15px;
  
  width: auto;
  height: 45%;
  word-wrap: break-word;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

/* Styles pour l'image du message */
.message-content  {
  width: auto;
  height: auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

  border-radius: 15px;
}

p{
  font-size: 20px;
  margin-top: -2px;
}

/* Styles pour la métadonnée du message */
.message-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 5px;
}

/* Styles pour l'heure du message */
#time {
  font-size: 13px;
  
  color: #555 !important;
}

/* Styles pour l'auteur du message */
#author {
  font-weight: bold;
  font-size: 16px;

  color: #ffffff;
}

.champs-de-text{
  height: 45px !important ;

  max-width: 100% !important;
}
/* Styles pour le pied de page */
.chat-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height:9%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f3f3f3;
  border-top: 1px solid #ccc;
  box-shadow: 0px 3px 5px rgba(2, 0, 0, 0.1);
  border-radius: 20px 0px 20px 0px  ;
}

/* Styles pour la zone de texte du message */
.chat-footer input {
  padding: 12px;
  height: 27px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 5px rgba(0, 2, 4, 0.1);
  border-radius: 5px;
  margin-right: 10px;
}

/* Styles pour les actions (icônes de la caméra, emoji, bouton envoyer) */
.actions-container {
  display: flex;
height: 20%;
  align-items: center;
}

.fileinput {
  margin-left: 7px;
  cursor: pointer;
}

.gallery-icon {
  background-color: #0084ff;
  color: white;
  margin-top: 7px;
  margin-left:7px;
  height: 5%;
  
  padding: 10px;
  margin-right: 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

}

.button button {
  background-color: #0084ff;
  color: white;
  border: none;
  height: 40px;
  width: 50px;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}/* Emoji Picker Styles */
.emoji-picker-react {
  font-size: 25px;
  position: absolute;
  bottom: 50px;
  right: 10px;
 
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Ajoutez une couleur de fond */
  border-radius: 5px; /* Ajoutez une bordure arrondie */
  z-index: 100; /* Assure que le sélecteur d'emoji est au-dessus des autres éléments */

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  height: 50px !important;
}

/* ChatBox.css (ou votre fichier de style) */


.send-button {
  color: #007bff; /* Choisissez la couleur que vous souhaitez */
  /* Ajoutez d'autres propriétés de style selon vos préférences */
}



/* Affichez le sélecteur d'emoji lorsqu'il est activé */
.emoji-picker-react.show {
  height: 200px !important;
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

/* Fermer le sélecteur d'emoji lorsqu'on clique en dehors */

.emoji-picker-react.show:before .emoji{
  /* Ajoutez une pseudo-classe pour capturer les clics en dehors de la liste */
  content: '';
  margin-bottom: 20px !important;
  right: 0;
  bottom: -20%;
  left: 0;
  z-index: 99; /* Assure que la pseudo-classe est en dessous du sélecteur d'emoji */
}

/* Ajoutez un style pour le corps de la liste d'emoji, par exemple */
.emoji-picker-react .emoji-list .emoji{
  max-height: 200px;
  margin-bottom: 20px!important;
  overflow-y: 60px;
  padding: 10px;
  transform: translateY(-50%);
}


.emoji{
  margin-bottom: 550px;
}


/* Styles pour un message émis */
#you .message-content {
  background-color: #23405b ;
  border-radius: 15px 15px 15px 0; 
  padding: 9px;
  padding-bottom: 2px;
  margin-top: 1px;
  font-size: 20px;
  display: inline-block;
    max-width: 550px;

  justify-content: flex-end;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* Styles pour un message reçu */
#other .message-content {
  background-color: white;
  color: #fff;
  max-width: 550px;
  border-radius: 15px 15px 0 15px;
  padding: 9px;
  margin: 0 auto 10px 0;
  display: inline-block;
  font-size: 20px;

  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
}
#chat-body{
  height: 100%;
  overflow-y: auto;
  padding: 6px;
 margin-left: 0px !important;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: #A6D7ED;
  box-shadow: 1px 1px 5px rgba(0, 4, 5, 0.1);


}



#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}
.chat-window .chat-body .message {
  width: auto;
  height: auto;
  padding: 10px;
  display: flex;
}
#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
  

}
.chat-window{
  width: 100% !important;
}


.chat-window .chat-body .message .message-container .message-container::-webkit-scrollbar .message-content .img{
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 200px;
    background-color: #43a047;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  } 
  
/***** Message de l'utilisateur *****/
.chat-window {
 /* Utilisez simplement 'padding' pour définir toutes les valeurs */
padding: 30px;
  width: 100vw;
  height: 95vh;
  border-radius: 20px; /* Ajustez la valeur selon vos préférences */
}

.chat-window .chat-body {
  border-radius: 15px;
  background-color: #E7F2F7 !important;
  box-shadow: -1px -12px 70px 0px #ffffff; 
  filter: drop-shadow(10px 5px 77px  #b2c1e3);
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);


}

.chat-body::-webkit-scrollbar {
  width: 0 !important; /* Masquer la barre de défilement verticale */
  height: 0 !important; /* Masquer la barre de défilement horizontale */
}


/* ChatBox.css */

.user-list-item.unread {
  position: relative;
}

.user-list-item.unread::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red !important;
}


.user-info {
  display: flex;
  align-items: center;
}

.profile-image {
  margin-top: -12px;
  margin-left: 32%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  margin-left: 10px;
  margin-top: 2px;
}


.search-wrapper {
  position: relative;
}


.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px; /* Ajustez selon la position souhaitée */
  top: 71%;
  color: #555; /* Couleur de l'icône */
}


.image_message{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}