/* userprofiles.css */
.custom-rdv-button {
    /* Add styles for the custom chat button */
    /* Example: */
    color: #0B8FA8;
    background-color: transparent !important;
    border: none !important;
    padding-left: 0%;
    font-size: 25px; /* Increase font size */
    margin-left: 80px; /* Add margin to separate it from the chat icon */
    margin-top: -42px;
  }
  .custom-rdv-button:hover {
    /* No hover effect */
    background-color: transparent !important;
}

    .btn-link{
      padding-right: 50px;
    }