.message-info {
    display: flex;
    align-items: center;
  }
  
  .user-image {
    width: 50px; /* Ajustez la largeur selon vos besoins */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 10px; /* Espacement entre l'image et le nom d'utilisateur */
  }
  
  .message-details {
    flex-grow: 1; /* Permet au nom d'utilisateur de s'étendre pour occuper tout l'espace restant */
  }
  
 
  .search_chat {
    margin-top: 10px; /* Réduit l'espacement en haut */
    margin-right: 10px; /* Ajuste l'espacement à droite */
    margin-left: 10px; /* Ajuste l'espacement à gauche */
    width: calc(100% - 2px); /* Utilise la largeur totale moins 20px de marges */
    max-width: 200px; /* Limite la largeur maximale à 200px */
    height: 50px;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Assurez-vous que la recherche conserve son aspect centré */
  .search_chat:focus {
    outline: none; /* Supprime la mise en surbrillance lorsque l'élément est en focus */
  }
  
.user-list-item {
    display: block;
    width: 80%;
    position: relative;
    height: 70px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-list {
    max-height: 500px; /* Hauteur maximale de la liste des utilisateurs */
    overflow-y: auto; /* Ajouter une barre de défilement verticale lorsque nécessaire */
  }
  
  .user-list-item:hover {
    background-color: #d0d0d0;
  }
  
  .conv{
    margin-top: 8px;
    margin-left: 10%;
    font-size: 24px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-items: center;
    align-items: center !important;
  }
  .Liste {
    width: 90%;
    margin-top:10%;
    left: 10px;
    overflow: hidden;
    height: 100%;
    margin-left: 6%;
    border-radius: 20px;
    background-color: #ffffff;
  }
  
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  