
  /* Hero section */
  .relative {
    position: relative;
  }
  .h-screen {
    height: 100vh;
  }
  
  /* Overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  /* Hero Info */
  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 20px;
    max-width: 90vw;
    margin: 0 auto;
  }
  .borderrr{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    padding-top: 0px;
    margin-top: 20px;
  }
  /* Main content */
  .title-video {
    font-size: 200% ;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }
  
  .hero-subtitle {
    font-size: 26px;
    color: white;
    margin-top: -2px;
    text-align: center;
  }
  
  /* Enter Code form */
  .enter-code-form {
    margin-top: 20px;
    text-align: center;
  }
  
  .enter-code-label {
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
  }
  
  .enter-code-input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 10px;
    max-width: 14rem;
  }
  
  .enter-code-button {
    background-color: #1e4af9 !important;
    color: white;
    font-weight: bold;
    border: none !important;
    height: 40px!important;
    border-radius: 20px;
    padding: 7px 20px;
    margin-top: 10px;
    cursor: pointer;  }
  
  /* Generated Code section */
  .generate-code-title {
    color: white;
    margin-top: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    font-weight: bold;
    margin-left: -28px;
  }
  
  .generate-code-button {
    background-color: #1e4af9;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 7px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .generated-code-text {
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  /* Icônes */
  .icon {
    font-size: 24px;
    margin-right: 5px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .hero-info {
      padding: 0 10px;
    }
  
    .title-video {
      font-size: 40px;
    }
  
    .hero-subtitle {
      font-size: 20px;
    }
  
    .enter-code-label {
      font-size: 20px;
    }
  
    .enter-code-input {
      max-width: 12rem;
    }
  
    .generate-code-title {
      font-size: 20px;
    }
  }
  