.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover .card-title,
  .card:hover .card-text {
    color: #415a77; /* Change the color to your desired hover effect color */
  }